html {
  height: 100% !important;
}

body {
  height: 100% !important;
  /*background-color: lightgray;
  background: linear-gradient(0deg, rgba(172,172,173,1) 0%, rgba(186,228,251,1) 100%);*/
  background: url("./images/bck3.jpg") center center fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /*background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(42,42,42,1) 100%) fixed;*/
  
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}


.loginPage {
  background: url("./images/background.jpg") center center fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  min-height: 75vh !important;
  /*background: radial-gradient(circle, rgba(249,249,249,1) 42%, rgba(176,176,176,1) 64%, rgba(38,38,38,1) 100%);*/
}

.BootstrapTable {
  background-color: rgba(255,255,255,0.50);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  color: #000000;
}


div.fadeMe {
  opacity: 0.7;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

#containerDivFade {
  overflow: auto;
  height: auto;
  width: auto;
  text-align: center;
}

/*
.rowTable {
  background-color:"#889bae";
  background-image: linear-gradient(0deg, #ffffff 25%, #e6e6e6d0 75%);
}*/

.card-container.cardCustom {
  max-width: 350px !important;
  padding: 40px 40px;
}

.cardCustom {
  background-color: rgba(255,255,255,0.50);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.cardCustomGreen {
  background-color: rgba(127, 255, 115, 0.5);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.cardCustomBlue {
  background-color: rgba(121, 141, 255, 0.5);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.cardCustomYellow {
  background-color: rgba(229, 255, 0, 0.5);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.cardCustomRed {
  background-color: rgba(241, 58, 58, 0.5);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.loginForm {
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 4%;
    width: 30%;
}

Form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    outline: none;
    border: none;
}


.alert{
  margin-top: 2.5vh;
  width: 70%;
  height: 30%;
  text-align: center;
}

.newElementForm {
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(80px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.733);
  padding: 4%;
  width: 100%;
}

.newElementFormCondensed {
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(80px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.733);
  padding: 4%;
  width: 80%;
}

label {
    display: block;
    font-weight: 500;
    color: black;
}

input {
    display: block;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
}

button {
    background-color: rgba(255,255,255,0.50);
    color: #080710;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255,255,255,0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}

Input:disabled {
  background-color: gray !important;
  color: black;
}

p {
  color: black;
}

.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}


.buttonCustom {
  background-color: rgba(255,255,255,0.50);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

a{
  color:#40464d;
}


/*PROFILE PAGE*/
.bg-secondary-soft {
  background-color: rgba(172, 172, 172, 0.692) !important;
}